/* common */
html{
    scroll-padding-top: 70px;
}

:root {
    --black: rgba(44, 62, 80, 1);
    --green: rgba(26, 188, 156, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(58, 84, 109, 1);
    --dark-grey: rgba(44, 62, 80, 1);
}

body {
    background-color: rgb(93, 148, 155);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: black;
}

.bg-black1 {
    background-color: var(--black);
}

.bg-green {
    background-color: var(--green);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}


/* main  */
#hero {
    padding-top: 100px;
    color: white;
}

img.avatar {
    width: 70%;
    max-width: 100%;
}

.icon,
.icon-b {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}


.icon::before {
    content: "";
    display: block;
    background-color: white;
    width: 100px;
    border: 2px solid white;

}

.icon::after {
    background-color: white;
    content: "";
    display: block;
    width: 100px;
    border: 2px solid white;
}

.icon .fas.fa-star {
    color: white;
}


.icon-b::before {
    content: "";
    display: block;
    background-color: var(--dark-grey);
    width: 100px;
    border: 2px solid var(--dark-grey);
}

.icon-b::after {
    background-color: var(--dark-grey);
    content: "";
    display: block;
    width: 100px;
    border: 2px solid var(--dark-grey);
}

.icon .fas.fa-star,
.icon-b .fas.fa-star {
    margin: 0 15px;
}

.layover-container {
    cursor: pointer;
}

.layover-container::after {
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--white);
    opacity: 0;
    transition: opacity 1000ms;
    z-index: 100;

}

.layover-container:hover::after {
    opacity: 1;

}


/* header  */

header {
    background-color: var(--dark-grey);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    padding: 10px;

}

a.nav-link:hover {

    color: var(--green);
}

.div-icone{
    height:20px;
    width: 20px;
}
.sottolinea:hover{
    text-decoration: underline;
}
#footer-bottom{
    height: 60px;
}